.wrapper {
  width: 100%;
  max-width: var(--max-content-width);
  margin: 0 auto;
}

.desktopContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .imgContainer {
    overflow: hidden;
  }

  img {
    transform: scale(1);
    transition: 1s all ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.mobileContainer {
  display: none;
  grid-template-columns: repeat(2, 1fr);
}

@media (max-width: 768px) {
  .desktopContainer {
    display: none;
  }

  .mobileContainer {
    display: grid;
  }
}
